  <div class="loading text-muted" ng-hide="lists"><fa name="spinner" size="5" spin></fa><br>Loading resources&hellip;</div>
  <div class="row" ng-show="item" ng-swipe-left="nextItem()" ng-swipe-right="previousItem()">
    <div class="col-md-4 col-md-push-8" ng-if="item.type != 'newspaper'">
      <a ng-if="item.fulltext" href="{{ item.fulltext }}" title="View digitised item"><img ng-if="item.type != 'newspaper' && item.thumbnail" ng-src="{{ item.thumbnail }}" class="thumbnail center-cropped-large"></a>
      <img ng-if="item.type != 'newspaper' && item.thumbnail && !item.fulltext" ng-src="{{ item.thumbnail }}" class="thumbnail center-cropped-large">
    </div>
    <div class="col-md-8 col-md-pull-4" ng-if="item.type != 'newspaper'">
      <h3>{{ item.title }}</h3>
      <p class="lead">{{ item.format[0]}}<span ng-if="item.date">, {{ item.date }}</span></p>
      <dl>
        <dt ng-if="item.format.length > 1">Additional formats</dt>
        <dd ng-if="item.format.length > 1">
          <ul>
            <li ng-repeat="format in item.format.slice(1)">{{ format }}</li>
          </ul>
        </dd>
        <dt ng-if="item.contributor">Contributors</dt>
        <dd ng-if="item.contributor">
          <ul>
            <li ng-repeat="contributor in item.contributor">{{ contributor }}</li>
          </ul>
        </dd>
      </dl>
      <p>Part of <a href="#/topics/{{ lists[item.list - 1].order }}">{{ lists[item.list - 1].title }}</a></p>
      <p><a href="{{ item.url }}">More details at Trove <fa name="external-link"></fa></a></p>
      <p ng-if="item.linktext && item.fulltext && config.directLinks === true"><a href="{{ item.fulltext }}">{{ item.linktext }} <fa name="external-link"></fa></a></p>
      <p ng-if="!item.linktext && item.fulltext && config.directLinks === true"><a href="{{ item.fulltext }}">View digitised item <span ng-if="repository">at {{ repository }} </span><fa name="external-link"></fa></a></p>
      <nav>
        <ul class="pager">
          <li class="previous" ng-class="{disabled: item.order === 1}"><a ng-href="{{(item.order === 1) ? '' : '#/resources/' + (item.order - 1)}}"><span aria-hidden="true">&larr;</span> Previous</a></li>
          <li ng-class="{disabled: item.order === items.length}"><a ng-href="{{(item.order === items.length) ? '' : '#/resources/' + (item.order + 1)}}">Next <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
      </nav>
    </div>
    <div class="col-md-8" ng-if="item.type == 'newspaper'">
      <h3>{{ item.title }}</h3>
      <p class="lead">{{ item.date | dateFormat }}</p>
      <p><em>{{ item.newspaper }}</em>, page {{ item.page }}</p>
      <p class="well" ng-if="item.note" ng-bind-html="item.note"></p>
      <p>Part of <a href="#/topics/{{ lists[item.list - 1].order }}">{{ lists[item.list - 1].title }}</a></p>
      <p><a href="{{ item.url }}">View digitised article at Trove <fa name="external-link"></fa></a></p>
      <nav>
        <ul class="pager">
          <li class="previous" ng-class="{disabled: item.order === 1}"><a ng-href="{{(item.order === 1) ? '' : '#/resources/' + (item.order - 1)}}"><span aria-hidden="true">&larr;</span> Previous</a></li>
          <li ng-class="{disabled: item.order === items.length}"><a ng-href="{{(item.order == items.length) ? '' : '#/resources/' + (item.order + 1)}}">Next <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
      </nav>
    </div>
          <div class="col-md-4" ng-if="item.type == 'newspaper'">
        <div class="newspaper-text" ng-bind-html="displayText"></div>
        <p ng-show="!fullText"><a href="" ng-click="showText()">Show all {{ words }} words</a>
        <p ng-show="fullText"><a href="" ng-click="showText('snippet')">Show first 100 words</a></p>
      </div>
  </div>
  

