<h2>Resources</h2>
<div class="loading text-muted" ng-hide="lists"><fa name="spinner" size="5" spin></fa><br>Loading resources&hellip;</div>
  <div ng-show="items">
  <p ng-show="config.showGrid">
    <button title="Show all items" ng-click="view = 'list'; totalDisplayed = 20"><fa name="list"></fa></button> 
    <button title="Show items with thumbnails" ng-click="view = 'grid'; totalDisplayed = 50"><fa name="th"></fa></button>
    </p>
  <form class="form-inline items-filter" role="search">
    <div ng-show="view == 'list'" class="form-group">
      <label>Order by:</label>
      <select class="form-control" ng-model="sort">
        <option value="order">Topic</option>
        <option value="title">Title</option>
        <option value="year">Year</option>
      </select> 
    </div>
    <div class="form-group">
      <label>Filter by:</label>
      <div class="input-group">
        <input ng-model="query" type="text" class="form-control" placeholder="query" ng-minlength="3"> 
        <div class="input-group-addon"><fa name="search"></fa></div>
      </div>
    </div>
  </form>
  </div>
  <div infinite-scroll="loadMore()" infinite-scroll-distance="3">
    <div ng-if="view == 'list'" class="media item-listing" ng-repeat="item in items | filter:query | orderBy:sort | limitTo:totalDisplayed">
      <div class="media-left">
        <a ng-href="#/resources/{{ item.order }}">
          <img ng-if="item.thumbnail" class="thumbnail media-object center-cropped" ng-src="{{ item.thumbnail }}" alt="Thumbnail for {{ item.title }}">
           <div ng-if="!item.thumbnail && item.type == 'newspaper'" class="thumbnail media-object center-cropped"><fa class="blank-icon" name="newspaper-o" size="4"></fa></div>
          <div ng-if="!item.thumbnail && item.type == 'work'" class="thumbnail media-object center-cropped"><fa class="blank-icon" name="photo" size="4"></fa></div>
          <div ng-if="!item.thumbnail && item.type == 'website'" class="thumbnail media-object center-cropped"><fa class="blank-icon" name="globe" size="4"></fa></div>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{ item.title }}</h4>
        <p ng-if="item.type == 'newspaper'">{{ item.date | dateFormat }}<br><em>{{ item.newspaper}}</em><br><a href="#/resources/{{ item.order }}">View details</a></p>
        <p ng-if="item.type == 'work'">{{ item.format[0]}}<br>{{ item.date}}<br><a href="#/resources/{{ item.order }}">View details</a></p>
        <p ng-if="item.type == 'website'"><a href="{{ item.url }}">View site <fa name="external-link"></fa></a></p>
      </div>
    </div>
  </div>
  <div infinite-scroll="loadMore()" infinite-scroll-distance="3">
  <div ng-if="view == 'grid'">
    <ul class="wall" masonry='{ "itemSelector": ".wall-item", "columnWidth": 110, "gutter": 5}'>
      <li masonry-tile ng-repeat="item in items | itemsWithThumbnails | orderBy:'rank' | filter:query" class="wall-item">
        <a ng-href="#/resources/{{ item.order }}" title="{{ item.title }}">
          <img class="center-cropped-wall thumbnail" ng-src="{{ item.thumbnail }}" alt="Thumbnail for {{ item.title }}">
        </a>
      </li>
    </ul>
  </div>
  </div>

